[submodule "nvimchad/.config/nvim"]
	path = nvimchad/.config/nvim
	url = git@github.com:igjerapic24/nvimchad.git
[submodule "nvim-kickstart/.config/nvim-kickstart"]
	path = nvim-kickstart/.config/nvim-kickstart
	url = git@github.com:igjerapic24/kickstart-modular.nvim.git
[submodule "nvim-latex/.config/nvim-latex"]
	path = nvim-latex/.config/nvim-latex
	url = git@github.com:igjerapic24/nvim-latex.git
[submodule "nvim-total/.config/nvim-total"]
	path = nvim-total/.config/nvim-total
	url = git@github.com:igjerapic24/nvim-total.git
